<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>call_kasper/0000</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{268,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{268,200}}</string>
                <key>sourceSize</key>
                <string>{270,204}</string>
            </dict>
            <key>exit_tube_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,974}}</string>
                <key>offset</key>
                <string>{47,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{320,974}}</string>
                <key>sourceSize</key>
                <string>{414,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kk_foreground-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b20e6146caec6d4fa159692313e8127:1/1$</string>
            <key>textureFileName</key>
            <string>kk_foreground-hd.png</string>
        </dict>
    </dict>
</plist>
