<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>patient_1/0000</key>
		<dict>
			<key>frame</key>
			<string>{{186,778},{186,202}}</string>
			<key>offset</key>
			<string>{9,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,46},{186,202}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0001</key>
		<dict>
			<key>frame</key>
			<string>{{422,188},{184,200}}</string>
			<key>offset</key>
			<string>{4,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,48},{184,200}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0002</key>
		<dict>
			<key>frame</key>
			<string>{{752,576},{184,196}}</string>
			<key>offset</key>
			<string>{-2,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,52},{184,196}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0003</key>
		<dict>
			<key>frame</key>
			<string>{{1798,206},{184,194}}</string>
			<key>offset</key>
			<string>{-4,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,54},{184,194}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0004</key>
		<dict>
			<key>frame</key>
			<string>{{1122,2},{184,212}}</string>
			<key>offset</key>
			<string>{-4,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,36},{184,212}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0005</key>
		<dict>
			<key>frame</key>
			<string>{{908,2},{184,212}}</string>
			<key>offset</key>
			<string>{1,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,36},{184,212}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0006</key>
		<dict>
			<key>frame</key>
			<string>{{1324,572},{182,194}}</string>
			<key>offset</key>
			<string>{-2,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,54},{182,194}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0007</key>
		<dict>
			<key>frame</key>
			<string>{{1692,770},{182,186}}</string>
			<key>offset</key>
			<string>{-3,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,62},{182,186}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0008</key>
		<dict>
			<key>frame</key>
			<string>{{1786,402},{182,196}}</string>
			<key>offset</key>
			<string>{2,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,52},{182,196}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0009</key>
		<dict>
			<key>frame</key>
			<string>{{1128,568},{182,194}}</string>
			<key>offset</key>
			<string>{2,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,54},{182,194}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0010</key>
		<dict>
			<key>frame</key>
			<string>{{1504,762},{182,186}}</string>
			<key>offset</key>
			<string>{-3,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,62},{182,186}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_1/0011</key>
		<dict>
			<key>frame</key>
			<string>{{1588,392},{184,196}}</string>
			<key>offset</key>
			<string>{-4,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,52},{184,196}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0000</key>
		<dict>
			<key>frame</key>
			<string>{{796,188},{186,200}}</string>
			<key>offset</key>
			<string>{6,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,48},{186,200}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0001</key>
		<dict>
			<key>frame</key>
			<string>{{398,390},{184,202}}</string>
			<key>offset</key>
			<string>{1,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,46},{184,202}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0002</key>
		<dict>
			<key>frame</key>
			<string>{{998,188},{184,198}}</string>
			<key>offset</key>
			<string>{-3,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,50},{184,198}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0003</key>
		<dict>
			<key>frame</key>
			<string>{{938,564},{188,192}}</string>
			<key>offset</key>
			<string>{-3,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,56},{188,192}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0004</key>
		<dict>
			<key>frame</key>
			<string>{{998,374},{188,192}}</string>
			<key>offset</key>
			<string>{-3,-28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,56},{188,192}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0005</key>
		<dict>
			<key>frame</key>
			<string>{{608,186},{186,200}}</string>
			<key>offset</key>
			<string>{0,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,48},{186,200}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0006</key>
		<dict>
			<key>frame</key>
			<string>{{1198,200},{182,200}}</string>
			<key>offset</key>
			<string>{-3,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,48},{182,200}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0007</key>
		<dict>
			<key>frame</key>
			<string>{{1520,578},{182,188}}</string>
			<key>offset</key>
			<string>{-6,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,60},{182,188}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0008</key>
		<dict>
			<key>frame</key>
			<string>{{1400,204},{182,198}}</string>
			<key>offset</key>
			<string>{-1,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,50},{182,198}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0009</key>
		<dict>
			<key>frame</key>
			<string>{{1390,388},{182,196}}</string>
			<key>offset</key>
			<string>{-1,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,52},{182,196}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0010</key>
		<dict>
			<key>frame</key>
			<string>{{1316,756},{182,186}}</string>
			<key>offset</key>
			<string>{-6,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,62},{182,186}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_2/0011</key>
		<dict>
			<key>frame</key>
			<string>{{942,758},{182,194}}</string>
			<key>offset</key>
			<string>{6,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,54},{182,194}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0000</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{184,234}}</string>
			<key>offset</key>
			<string>{6,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,14},{184,234}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0001</key>
		<dict>
			<key>frame</key>
			<string>{{2,216},{184,234}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,14},{184,234}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0002</key>
		<dict>
			<key>frame</key>
			<string>{{448,2},{182,230}}</string>
			<key>offset</key>
			<string>{-5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,18},{182,230}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0003</key>
		<dict>
			<key>frame</key>
			<string>{{680,2},{182,226}}</string>
			<key>offset</key>
			<string>{-8,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,22},{182,226}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0004</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{182,226}}</string>
			<key>offset</key>
			<string>{-8,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,22},{182,226}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0005</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{182,230}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{182,230}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0006</key>
		<dict>
			<key>frame</key>
			<string>{{758,774},{182,194}}</string>
			<key>offset</key>
			<string>{-6,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,54},{182,194}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0007</key>
		<dict>
			<key>frame</key>
			<string>{{1128,752},{182,186}}</string>
			<key>offset</key>
			<string>{-7,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,62},{182,186}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0008</key>
		<dict>
			<key>frame</key>
			<string>{{1192,384},{182,196}}</string>
			<key>offset</key>
			<string>{-2,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,52},{182,196}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0009</key>
		<dict>
			<key>frame</key>
			<string>{{574,774},{182,194}}</string>
			<key>offset</key>
			<string>{-2,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,54},{182,194}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0010</key>
		<dict>
			<key>frame</key>
			<string>{{1710,586},{182,186}}</string>
			<key>offset</key>
			<string>{-7,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,62},{182,186}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_3/0011</key>
		<dict>
			<key>frame</key>
			<string>{{602,390},{184,196}}</string>
			<key>offset</key>
			<string>{-1,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,52},{184,196}}</string>
			<key>sourceSize</key>
			<string>{224,248}</string>
		</dict>
		<key>patient_4/0000</key>
		<dict>
			<key>frame</key>
			<string>{{1762,2},{208,202}}</string>
			<key>offset</key>
			<string>{8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,26},{208,202}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0001</key>
		<dict>
			<key>frame</key>
			<string>{{1550,2},{210,200}}</string>
			<key>offset</key>
			<string>{7,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,28},{210,200}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0002</key>
		<dict>
			<key>frame</key>
			<string>{{212,188},{208,196}}</string>
			<key>offset</key>
			<string>{8,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,32},{208,196}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0003</key>
		<dict>
			<key>frame</key>
			<string>{{188,386},{208,194}}</string>
			<key>offset</key>
			<string>{8,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,34},{208,194}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0004</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{208,212}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{208,212}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0005</key>
		<dict>
			<key>frame</key>
			<string>{{1336,2},{196,212}}</string>
			<key>offset</key>
			<string>{4,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,16},{196,212}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0006</key>
		<dict>
			<key>frame</key>
			<string>{{186,582},{196,194}}</string>
			<key>offset</key>
			<string>{4,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,34},{196,194}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0007</key>
		<dict>
			<key>frame</key>
			<string>{{800,376},{196,186}}</string>
			<key>offset</key>
			<string>{5,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,42},{196,186}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0008</key>
		<dict>
			<key>frame</key>
			<string>{{568,576},{182,196}}</string>
			<key>offset</key>
			<string>{3,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,32},{182,196}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0009</key>
		<dict>
			<key>frame</key>
			<string>{{384,582},{182,194}}</string>
			<key>offset</key>
			<string>{3,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,34},{182,194}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0010</key>
		<dict>
			<key>frame</key>
			<string>{{390,778},{182,186}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,42},{182,186}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
		<key>patient_4/0011</key>
		<dict>
			<key>frame</key>
			<string>{{1600,206},{184,196}}</string>
			<key>offset</key>
			<string>{6,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,32},{184,196}}</string>
			<key>sourceSize</key>
			<string>{224,228}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kk_patient-hd.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7573ece12b725ac31febce121c3757fd:1/1$</string>
		<key>textureFileName</key>
		<string>kk_patient-hd.png</string>
	</dict>
</dict>
</plist>
