<html>
<head><title>Dialog</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {width:400px;margin:0 auto;}
#contents_block{$id} {text-align:center;}
#header_block{$id} {white-space:nowrap;height:31px;padding:5px;text-align:center;}
#footer_block{$id} {height:15px;}
#fields_block{$id} {width:100%}
#buttons_block{$id} {padding-bottom:5px;white-space:nowrap;text-align:center;}
#required_block{$id} {text-align:left;padding:5px}
#message_block{$id} {padding:5px 5px;text-align:center;}
</style>
</head>
<body>
{$header}
{BEGIN body}

<TABLE align=center id="center_block{$id}" cellpadding=0 cellspacing=0 border=0><tr><td>
{BEGIN flybody}
<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="upeditmenu">
Dialog, {mlang_message ADD_NEW_RECORD}
</div>
<div class="main_table_border2" style="border: 1px solid #516C81;">
<TABLE CELLPADDING=0 CELLSPACING=0 align=center border=0 class="main_table_border">
{BEGIN message_block}
<div id="message_block{$id}" class=downedit>{$message}</div>
{END message_block}

{BEGIN d_datetime_fieldblock}
  <tr style="padding:3px">
    <td class=editshade_b width=150 style="padding-left:15px;">Date and Time</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$d_datetime_editcontrol}
    </td></tr>
{END d_datetime_fieldblock}  
{BEGIN d_msg_type_fieldblock}
  <tr style="padding:3px">
    <td class=editshade_b width=150 style="padding-left:15px;">Type</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$d_msg_type_editcontrol}
    </td></tr>
{END d_msg_type_fieldblock}  
{BEGIN d_id_fieldblock}
  <tr style="padding:3px">
    <td class=editshade_b width=150 style="padding-left:15px;">d_id</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$d_id_editcontrol}
      &nbsp;<img src="images/icon_required.gif">
  </td></tr>
{END d_id_fieldblock}  
{BEGIN d_from_p_id_fieldblock}
  <tr style="padding:3px">
    <td class=editshade_b width=150 style="padding-left:15px;">From</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$d_from_p_id_editcontrol}
      &nbsp;<img src="images/icon_required.gif">
  </td></tr>
{END d_from_p_id_fieldblock}  
{BEGIN d_to_p_id_fieldblock}
  <tr style="padding:3px">
    <td class=editshade_b width=150 style="padding-left:15px;">To</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$d_to_p_id_editcontrol}
    </td></tr>
{END d_to_p_id_fieldblock}  
{BEGIN d_message_fieldblock}
  <tr style="padding:3px">
    <td class=editshade_b width=150 style="padding-left:15px;">Message</td>
    <td width=250 class=editshade_lb style="padding-left:10px;">
    {$d_message_editcontrol}
    </td></tr>
{END d_message_fieldblock}  
</table>

<div class="downedit" id="buttons_block{$id}">
<div id="required_block{$id}" ><img src="images/icon_required.gif"> - {mlang_message REQUIRED_FIELD}</div>
{BEGIN save_button}
<span class=buttonborder><input class=button type=submit value="{mlang_message SAVE}" name=submit1></span>
{END save_button}
{BEGIN reset_button}
<span class=buttonborder><input class=button type=reset value="{mlang_message RESET}"></span>
{END reset_button}
{BEGIN cancel_button}
<span class=buttonborder><input class=button type=button value="{mlang_message CANCEL}" {$cancelbutton_attrs}></span>
{END cancel_button}
{BEGIN back_button}
<span class=buttonborder><input class=button type=button value="{mlang_message BACK_TO_LIST}" {$backbutton_attrs}></span>
{END back_button}
</div>

</div>
<b class="xbottom"><b class="xb4b"></b><b class="xb3b"></b><b class="xb2b"></b><b class="xb1b"></b></b>
{END flybody}
</td></tr>
</table>
{$footer}
{END body}

</body>
</html>
