<p>{mlang_message MASTER}: [Players]</p>

<table border=0 width=20% CELLPADDING=3 CELLSPACING=1 class="grid_block">
<!-- header -->
<tr valign="top">
<td><b>Status</b></td>
<td><b>Team</b></td>
<td><b>First name</b></td>
<td><b>Last Name</b></td>
<td><b>Adress</b></td>
<td><b>Zip</b></td>
<td><b>Country</b></td>
<td><b>Email</b></td>
<td><b>Mobile</b></td>
<td><b>Newsaccept</b></td>
<td><b>Score</b></td>
<td><b>Scorehigh</b></td>
<td><b>Games Played</b></td>
<td><b>Winner</b></td>
<td><b>MQ</b></td>
<td><b>Born</b></td>
<td><b>Username</b></td>
<td><b>Password</b></td>
<td><b>IP</b></td>
<td><b>Datetime</b></td>
<td><b>Competetion Score</b></td>
<td><b>Competetion Kills</b></td>
</tr>
<!-- data -->
<tr >
<td>
{$p_active_mastervalue}
</td>
<td>
{$p_s_id_mastervalue}
</td>
<td>
{$p_first_mastervalue}
</td>
<td>
{$p_name_mastervalue}
</td>
<td>
{$p_adr_mastervalue}
</td>
<td>
{$p_zip_mastervalue}
</td>
<td>
{$p_country_mastervalue}
</td>
<td>
{$p_mail_mastervalue}
</td>
<td>
{$p_mobile_mastervalue}
</td>
<td>
{$p_newsaccept_mastervalue}
</td>
<td>
{$p_score_mastervalue}
</td>
<td>
{$p_scorehigh_mastervalue}
</td>
<td>
{$p_games_mastervalue}
</td>
<td>
{$p_win_mastervalue}
</td>
<td>
{$p_mk_mastervalue}
</td>
<td>
{$p_born_mastervalue}
</td>
<td>
{$p_user_mastervalue}
</td>
<td>
{$p_pwd_mastervalue}
</td>
<td>
{$p_ip_mastervalue}
</td>
<td>
{$p_datetime_mastervalue}
</td>
<td>
{$p_tscore_mastervalue}
</td>
<td>
{$p_tkills_mastervalue}
</td>
</tr>

</table>
