<b>{mlang_message MASTER}: [Players]</b><br>

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:20%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Status</td>
<td>Team</td>
<td>First name</td>
<td>Last Name</td>
<td>Zip</td>
<td>Country</td>
<td>Email</td>
<td>Mobile</td>
<td>Newsaccept</td>
<td>Winner</td>
<td>MQ</td>
<td>Born</td>
<td>IP</td>
<td>Datetime</td>
<td>Competetion Score</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$p_active_mastervalue}
</td>
<td>
{$p_s_id_mastervalue}
</td>
<td>
{$p_first_mastervalue}
</td>
<td>
{$p_name_mastervalue}
</td>
<td>
{$p_zip_mastervalue}
</td>
<td>
{$p_country_mastervalue}
</td>
<td>
{$p_mail_mastervalue}
</td>
<td>
{$p_mobile_mastervalue}
</td>
<td>
{$p_newsaccept_mastervalue}
</td>
<td>
{$p_win_mastervalue}
</td>
<td>
{$p_mk_mastervalue}
</td>
<td>
{$p_born_mastervalue}
</td>
<td>
{$p_ip_mastervalue}
</td>
<td>
{$p_datetime_mastervalue}
</td>
<td>
{$p_tscore_mastervalue}
</td>
</tr>
</table>




