<p>{mlang_message MASTER}: [Sponsors]</p>

<table border=0 width=20% CELLPADDING=3 CELLSPACING=1 class="grid_block">
<!-- header -->
<tr valign="top">
<td><b>Status</b></td>
<td><b>Name</b></td>
<td><b>Contact</b></td>
<td><b>Address</b></td>
<td><b>Zip</b></td>
<td><b>Country</b></td>
<td><b>Phone 1</b></td>
<td><b>Phone 2</b></td>
<td><b>Amount Sponsored</b></td>
<td><b>Amount Paid</b></td>
<td><b>Banner Ad 468x60</b></td>
<td><b>Logo</b></td>
<td><b>WWW</b></td>
<td><b>Email</b></td>
<td><b>Comment</b></td>
</tr>
<!-- data -->
<tr >
<td>
{$s_active_mastervalue}
</td>
<td>
{$s_name_mastervalue}
</td>
<td>
{$s_contact_mastervalue}
</td>
<td>
{$s_adr_mastervalue}
</td>
<td>
{$s_zip_mastervalue}
</td>
<td>
{$s_country_mastervalue}
</td>
<td>
{$s_phone1_mastervalue}
</td>
<td>
{$s_phone2_mastervalue}
</td>
<td>
{$s_total_mastervalue}
</td>
<td>
{$s_paid_mastervalue}
</td>
<td>
{$s_logo_mastervalue}
</td>
<td>
{$s_banner_mastervalue}
</td>
<td>
{$s_www_mastervalue}
</td>
<td>
{$s_mail_mastervalue}
</td>
<td>
{$s_cmt_mastervalue}
</td>
</tr>

</table>
