<b>{mlang_message MASTER}: [Sponsors]</b><br>

<TABLE CELLPADDING=4 CELLSPACING=1 BORDER=0 style="width:20%;margin:5px 0;border: solid; border-width: 1px; border-color: #C0C0C0;" class="data">

<!-- header -->
<tr class="blackshade" valign="top">
<td>Status</td>
<td>Name</td>
<td>Contact</td>
<td>Country</td>
<td>Phone 1</td>
<td>Logo</td>
<td>WWW</td>
<td>Email</td>
</tr>
<!-- data -->
<tr class="shade">
<td>
{$s_active_mastervalue}
</td>
<td>
{$s_name_mastervalue}
</td>
<td>
{$s_contact_mastervalue}
</td>
<td>
{$s_country_mastervalue}
</td>
<td>
{$s_phone1_mastervalue}
</td>
<td>
{$s_banner_mastervalue}
</td>
<td>
{$s_www_mastervalue}
</td>
<td>
{$s_mail_mastervalue}
</td>
</tr>
</table>




