<head><title>Teams</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
<style>
#center_block{$id} {width:400px;margin:0 auto;}
#contents_block{$id} {text-align:center;}
#header_block{$id} {white-space:nowrap;height:31px;padding:5px;text-align:center;}
#footer_block{$id} {height:15px;}
#fields_block{$id} {width:100%}
#buttons_block{$id} {padding-bottom:5px;white-space:nowrap;text-align:center;}
#required_block{$id} {text-align:left;padding:5px}
#message_block{$id} {padding:5px 5px;text-align:center;}

</style>
</head>
<body>
{$header}
{BEGIN body}
<div>


<TABLE align=center id="center_block{$id}" cellpadding=0 cellspacing=0><tr><td>

<b class="xtop"><b class="xb1b"></b><b class="xb2b"></b><b class="xb3b"></b><b class="xb4b"></b></b>
<div id="header_block{$id}" class="upeditmenu">
Teams, {mlang_message EDIT_RECORD} [
Team ID: {$show_key1}
]
</div>
<div class="main_table_border2" style="border: 1px solid #516C81;">
<TABLE CELLPADDING=0 CELLSPACING=0 align=center border=0 class="main_table_border">

{BEGIN ts_id_fieldblock}
<tr style="padding:3px">
<td class=editshade_b width=150 style="padding-left:15px;">Team ID</td>
<td width=250 class=editshade_lb style="padding-left:10px;">
    {$ts_id_value}&nbsp;
  </td></tr>
{END ts_id_fieldblock}
{BEGIN ts_p0_fieldblock}
<tr style="padding:3px">
<td class=editshade_b width=150 style="padding-left:15px;">Status</td>
<td width=250 class=editshade_lb style="padding-left:10px;">
    {$ts_p0_value}&nbsp;
  </td></tr>
{END ts_p0_fieldblock}
{BEGIN ts_s_id_fieldblock}
<tr style="padding:3px">
<td class=editshade_b width=150 style="padding-left:15px;">Sponsor</td>
<td width=250 class=editshade_lb style="padding-left:10px;">
    {$ts_s_id_value}&nbsp;
  </td></tr>
{END ts_s_id_fieldblock}
{BEGIN ts_name_fieldblock}
<tr style="padding:3px">
<td class=editshade_b width=150 style="padding-left:15px;">Name</td>
<td width=250 class=editshade_lb style="padding-left:10px;">
    {$ts_name_value}&nbsp;
  </td></tr>
{END ts_name_fieldblock}
</table>

<div class="downedit" id="buttons_block{$id}">
{BEGIN back_button}
<span class=buttonborder><input class=button type=button value="{mlang_message BACK_TO_LIST}" {$backbutton_attrs}></span>
{END back_button}
</div>


</div>
<b class="xbottom"><b class="xb4b"></b><b class="xb3b"></b><b class="xb2b"></b><b class="xb1b"></b></b>

</td></tr>
</table>
</div>
{END body}
{$footer}
</body>
</html>
