<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kasper_fly_hop/0000</key>
            <dict>
                <key>frame</key>
                <string>{{668,166},{114,76}}</string>
                <key>offset</key>
                <string>{-21,204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{114,76}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0001</key>
            <dict>
                <key>frame</key>
                <string>{{518,708},{94,94}}</string>
                <key>offset</key>
                <string>{-13,196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{94,94}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0002</key>
            <dict>
                <key>frame</key>
                <string>{{852,170},{84,104}}</string>
                <key>offset</key>
                <string>{-13,197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{84,104}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0003</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{76,112}}</string>
                <key>offset</key>
                <string>{-13,199}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{76,112}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0004</key>
            <dict>
                <key>frame</key>
                <string>{{484,370},{80,118}}</string>
                <key>offset</key>
                <string>{-9,199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{80,118}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,514}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{90,514}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0006</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{96,506}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{96,506}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{98,498}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{98,498}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0008</key>
            <dict>
                <key>frame</key>
                <string>{{102,510},{118,488}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{118,488}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0009</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{112,448}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,67},{112,448}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0010</key>
            <dict>
                <key>frame</key>
                <string>{{222,506},{108,406}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,110},{108,406}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0011</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{102,366}}</string>
                <key>offset</key>
                <string>{9,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,150},{102,366}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0012</key>
            <dict>
                <key>frame</key>
                <string>{{332,492},{96,324}}</string>
                <key>offset</key>
                <string>{14,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,192},{96,324}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0013</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{90,282}}</string>
                <key>offset</key>
                <string>{18,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,234},{90,282}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0014</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{84,242}}</string>
                <key>offset</key>
                <string>{22,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,274},{84,242}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0015</key>
            <dict>
                <key>frame</key>
                <string>{{390,818},{82,204}}</string>
                <key>offset</key>
                <string>{28,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,316},{82,204}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0016</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{82,162}}</string>
                <key>offset</key>
                <string>{28,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,358},{82,162}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0017</key>
            <dict>
                <key>frame</key>
                <string>{{306,370},{82,120}}</string>
                <key>offset</key>
                <string>{28,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,400},{82,120}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0018</key>
            <dict>
                <key>frame</key>
                <string>{{746,256},{82,102}}</string>
                <key>offset</key>
                <string>{28,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,418},{82,102}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0019</key>
            <dict>
                <key>frame</key>
                <string>{{550,898},{84,88}}</string>
                <key>offset</key>
                <string>{29,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,432},{84,88}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0020</key>
            <dict>
                <key>frame</key>
                <string>{{744,696},{92,78}}</string>
                <key>offset</key>
                <string>{29,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,442},{92,78}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0021</key>
            <dict>
                <key>frame</key>
                <string>{{192,452},{92,52}}</string>
                <key>offset</key>
                <string>{29,-234}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,468},{92,52}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0022</key>
            <dict>
                <key>frame</key>
                <string>{{958,170},{98,62}}</string>
                <key>offset</key>
                <string>{28,-229}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,458},{98,62}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0023</key>
            <dict>
                <key>frame</key>
                <string>{{952,270},{100,70}}</string>
                <key>offset</key>
                <string>{29,-225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,450},{100,70}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0024</key>
            <dict>
                <key>frame</key>
                <string>{{788,354},{100,80}}</string>
                <key>offset</key>
                <string>{28,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,440},{100,80}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0025</key>
            <dict>
                <key>frame</key>
                <string>{{862,542},{94,88}}</string>
                <key>offset</key>
                <string>{29,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,432},{94,88}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0026</key>
            <dict>
                <key>frame</key>
                <string>{{668,432},{86,98}}</string>
                <key>offset</key>
                <string>{29,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,422},{86,98}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0027</key>
            <dict>
                <key>frame</key>
                <string>{{866,458},{82,96}}</string>
                <key>offset</key>
                <string>{29,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,423},{82,96}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0028</key>
            <dict>
                <key>frame</key>
                <string>{{764,530},{78,96}}</string>
                <key>offset</key>
                <string>{29,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,421},{78,96}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0029</key>
            <dict>
                <key>frame</key>
                <string>{{648,682},{76,94}}</string>
                <key>offset</key>
                <string>{30,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,422},{76,94}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0030</key>
            <dict>
                <key>frame</key>
                <string>{{550,632},{74,96}}</string>
                <key>offset</key>
                <string>{31,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,420},{74,96}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0031</key>
            <dict>
                <key>frame</key>
                <string>{{648,606},{74,96}}</string>
                <key>offset</key>
                <string>{31,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,420},{74,96}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0032</key>
            <dict>
                <key>frame</key>
                <string>{{648,606},{74,96}}</string>
                <key>offset</key>
                <string>{31,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,420},{74,96}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0033</key>
            <dict>
                <key>frame</key>
                <string>{{842,632},{74,94}}</string>
                <key>offset</key>
                <string>{31,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,422},{74,94}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0034</key>
            <dict>
                <key>frame</key>
                <string>{{838,708},{76,92}}</string>
                <key>offset</key>
                <string>{30,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,424},{76,92}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0035</key>
            <dict>
                <key>frame</key>
                <string>{{706,776},{78,90}}</string>
                <key>offset</key>
                <string>{29,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,426},{78,90}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0036</key>
            <dict>
                <key>frame</key>
                <string>{{614,760},{82,90}}</string>
                <key>offset</key>
                <string>{28,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,426},{82,90}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0037</key>
            <dict>
                <key>frame</key>
                <string>{{888,812},{84,88}}</string>
                <key>offset</key>
                <string>{29,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,428},{84,88}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0038</key>
            <dict>
                <key>frame</key>
                <string>{{798,786},{88,86}}</string>
                <key>offset</key>
                <string>{28,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,430},{88,86}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0039</key>
            <dict>
                <key>frame</key>
                <string>{{932,726},{90,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,432},{90,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0040</key>
            <dict>
                <key>frame</key>
                <string>{{938,632},{92,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,432},{92,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0041</key>
            <dict>
                <key>frame</key>
                <string>{{746,610},{94,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,432},{94,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0042</key>
            <dict>
                <key>frame</key>
                <string>{{550,546},{96,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,432},{96,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0043</key>
            <dict>
                <key>frame</key>
                <string>{{666,520},{96,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,432},{96,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0044</key>
            <dict>
                <key>frame</key>
                <string>{{890,372},{98,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,432},{98,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0045</key>
            <dict>
                <key>frame</key>
                <string>{{566,460},{98,84}}</string>
                <key>offset</key>
                <string>{29,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,432},{98,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0046</key>
            <dict>
                <key>frame</key>
                <string>{{850,256},{96,100}}</string>
                <key>offset</key>
                <string>{29,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,415},{96,100}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0047</key>
            <dict>
                <key>frame</key>
                <string>{{390,370},{92,118}}</string>
                <key>offset</key>
                <string>{29,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,397},{92,118}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0048</key>
            <dict>
                <key>frame</key>
                <string>{{752,82},{86,136}}</string>
                <key>offset</key>
                <string>{29,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,379},{86,136}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0049</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{78,152}}</string>
                <key>offset</key>
                <string>{29,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,363},{78,152}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0050</key>
            <dict>
                <key>frame</key>
                <string>{{474,810},{74,170}}</string>
                <key>offset</key>
                <string>{31,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,344},{74,170}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0051</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{78,224}}</string>
                <key>offset</key>
                <string>{23,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,290},{78,224}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0052</key>
            <dict>
                <key>frame</key>
                <string>{{410,286},{82,274}}</string>
                <key>offset</key>
                <string>{16,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,240},{82,274}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0053</key>
            <dict>
                <key>frame</key>
                <string>{{430,490},{86,318}}</string>
                <key>offset</key>
                <string>{9,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,196},{86,318}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0054</key>
            <dict>
                <key>frame</key>
                <string>{{906,80},{88,104}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,156},{88,104}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0055</key>
            <dict>
                <key>frame</key>
                <string>{{686,340},{90,100}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,118},{90,100}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0056</key>
            <dict>
                <key>frame</key>
                <string>{{768,436},{96,92}}</string>
                <key>offset</key>
                <string>{-4,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,90},{96,92}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0057</key>
            <dict>
                <key>frame</key>
                <string>{{566,370},{100,88}}</string>
                <key>offset</key>
                <string>{-8,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,65},{100,88}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0058</key>
            <dict>
                <key>frame</key>
                <string>{{746,170},{104,84}}</string>
                <key>offset</key>
                <string>{-12,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{104,84}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0059</key>
            <dict>
                <key>frame</key>
                <string>{{306,914},{106,82}}</string>
                <key>offset</key>
                <string>{-14,187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,32},{106,82}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
            <key>kasper_fly_hop/0060</key>
            <dict>
                <key>frame</key>
                <string>{{222,914},{108,82}}</string>
                <key>offset</key>
                <string>{-15,196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{108,82}}</string>
                <key>sourceSize</key>
                <string>{160,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kemokasper.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:811057efb73e0d30018dbcd8109a6796:1/1$</string>
            <key>textureFileName</key>
            <string>kemokasper.png</string>
        </dict>
    </dict>
</plist>
