<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>call_kasper/0000</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{135,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,102}}</string>
                <key>sourceSize</key>
                <string>{135,102}</string>
            </dict>
            <key>exit_tube_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,488}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{159,488}}</string>
                <key>sourceSize</key>
                <string>{207,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kk_foreground.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8020eb8e9e94bce71ea7a930070812df:1/1$</string>
            <key>textureFileName</key>
            <string>kk_foreground.png</string>
        </dict>
    </dict>
</plist>
