<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>patient_1/0000</key>
            <dict>
                <key>frame</key>
                <string>{{198,96},{94,102}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{94,102}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0001</key>
            <dict>
                <key>frame</key>
                <string>{{198,408},{92,100}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{92,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0002</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{92,100}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{92,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0003</key>
            <dict>
                <key>frame</key>
                <string>{{302,286},{94,98}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{94,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0004</key>
            <dict>
                <key>frame</key>
                <string>{{96,218},{94,106}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{94,106}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0005</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{92,106}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{92,106}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0006</key>
            <dict>
                <key>frame</key>
                <string>{{402,284},{92,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0007</key>
            <dict>
                <key>frame</key>
                <string>{{406,786},{92,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0008</key>
            <dict>
                <key>frame</key>
                <string>{{400,382},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0009</key>
            <dict>
                <key>frame</key>
                <string>{{306,502},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0010</key>
            <dict>
                <key>frame</key>
                <string>{{210,892},{92,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_1/0011</key>
            <dict>
                <key>frame</key>
                <string>{{304,598},{92,98}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0000</key>
            <dict>
                <key>frame</key>
                <string>{{110,504},{94,100}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{94,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0001</key>
            <dict>
                <key>frame</key>
                <string>{{302,96},{92,100}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{92,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0002</key>
            <dict>
                <key>frame</key>
                <string>{{204,192},{92,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{92,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0003</key>
            <dict>
                <key>frame</key>
                <string>{{310,788},{94,96}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{94,96}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0004</key>
            <dict>
                <key>frame</key>
                <string>{{304,692},{94,96}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{94,96}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0005</key>
            <dict>
                <key>frame</key>
                <string>{{96,408},{94,100}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{94,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0006</key>
            <dict>
                <key>frame</key>
                <string>{{200,314},{92,100}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{92,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0007</key>
            <dict>
                <key>frame</key>
                <string>{{310,886},{92,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0008</key>
            <dict>
                <key>frame</key>
                <string>{{210,798},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0009</key>
            <dict>
                <key>frame</key>
                <string>{{210,698},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0010</key>
            <dict>
                <key>frame</key>
                <string>{{406,482},{92,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_2/0011</key>
            <dict>
                <key>frame</key>
                <string>{{210,598},{92,98}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{92,118}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{92,118}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,118}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{92,118}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{92,116}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{92,116}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{92,114}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{92,114}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{92,114}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{92,114}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0005</key>
            <dict>
                <key>frame</key>
                <string>{{96,314},{92,102}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,22},{92,102}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0006</key>
            <dict>
                <key>frame</key>
                <string>{{110,894},{92,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0007</key>
            <dict>
                <key>frame</key>
                <string>{{404,596},{92,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0008</key>
            <dict>
                <key>frame</key>
                <string>{{110,800},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0009</key>
            <dict>
                <key>frame</key>
                <string>{{110,706},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0010</key>
            <dict>
                <key>frame</key>
                <string>{{402,692},{92,94}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_3/0011</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{92,98}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{106,102}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{106,102}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{106,100}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{106,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{106,100}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{106,100}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0003</key>
            <dict>
                <key>frame</key>
                <string>{{96,110},{106,98}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{106,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{106,106}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{106,106}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0005</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{100,106}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{100,106}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0006</key>
            <dict>
                <key>frame</key>
                <string>{{110,606},{98,98}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{98,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0007</key>
            <dict>
                <key>frame</key>
                <string>{{206,502},{98,94}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{98,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0008</key>
            <dict>
                <key>frame</key>
                <string>{{404,96},{92,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0009</key>
            <dict>
                <key>frame</key>
                <string>{{306,190},{92,98}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0010</key>
            <dict>
                <key>frame</key>
                <string>{{406,190},{92,94}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,30},{92,94}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
            <key>patient_4/0011</key>
            <dict>
                <key>frame</key>
                <string>{{300,408},{92,98}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kk_patient.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09b65d61b4b6a495df651042ac74e916:1/1$</string>
            <key>textureFileName</key>
            <string>kk_patient.png</string>
        </dict>
    </dict>
</plist>
